{
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-script-url": 0,
    "no-console": 0,
    "prefer-const": 0,
    "semi": [2, "never"],
    "constructor-super": 2,
    "comma-dangle": 0,
    "func-names": 0,
    "guard-for-in": 0,
    "one-var": [2, { "initialized": "never" }],
    "key-spacing": 0,
    "no-undef": 2,
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "babel/object-shorthand": 0,
    "spaced-comment": 0,
    "vars-on-top": 0,
    "id-length": 0,
    "no-magic-numbers": 0,
    "object-curly-spacing": [2, "never"],
    "space-in-parens": [2, "never"],
    "keyword-spacing": ["error", {"after": true}],
    "space-before-blocks": [2, { "functions": "always", "keywords": "always" }],
    "space-before-function-paren": [2, "never"],
    "react/prefer-es6-class": 0,
    "react/prefer-stateless-function": 0,
    "react/sort-comp": 0
  },
  "globals": {
    "App": true
  }
}
