html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: #898989;
  text-decoration: none;
}

@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.woff') format('woff');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  vertical-align: middle;
}

.icon-list:before { content: "\e65f"; }
.icon-pluscircle:before { content: "\e677"; }
.icon-cross:before { content: "\e630"; }
.icon-sync:before { content: "\e692"; }
.icon-upload:before { content: "\e6a2"; }
.icon-sad:before { content: "\e683"; }
.icon-smile:before { content: "\e688"; }
.icon-screen:before { content: "\e684"; }
.icon-star:before { content: "\e68c"; }
.icon-trash:before { content: "\e69f"; }
.icon-crosscircle:before { content: "\e631"; }
.icon-eye:before { content: "\e640"; }
.icon-download:before { content: "\e638"; }
.icon-heart:before { content: "\e64b"; }
