@value bottomHeight: 24px;
@value bottomPadding: 6px;
@value markdownMarginLeft: 288px;
@value markdownMarginRight: 0px;
@value webviewNormalWidth: 400px;
@value webviewNormalHeight: 480px;
@value webviewMiniHeight: 300px;
@value webviewMarginTop: 15px;
@value emTextColor: #454545;
@value textColor: #696969;
@value baseTextColor: rgba(0, 0, 0, 0.8);
@value baseBgColor: #f5f5f5;
@value notifierHeadHeight: 63px;

:root {
  --bottomHeight: bottomHeight;
  --bottomPadding: bottomPadding;
  --markdownMarginLeft: markdownMarginLeft;
  --webviewNormalWidth: webviewNormalWidth;
  --webviewNormalHeight: webviewNormalHeight;
  --webviewMiniHeight: webviewMiniHeight;
  --webviewMarginTop: webviewMarginTop;
  --emTextColor: emTextColor;
  --textColor: textColor;
  --baseTextColor: baseTextColor;
  --baseBgColor: baseBgColor;
  --postListWidth: markdownMarginLeft;
  --markdownMarginLeft: markdownMarginLeft;
  --markdownMarginRight: markdownMarginRight;
  --bottomClientHeight: calc(var(--bottomHeight) + var(--bottomPadding) * 2);
  --notifierHeadHeight: notifierHeadHeight;
}
