@value postContainerWidth: 320px;
@value paddingHoriz: 16px;
@value paddingVertical: 10px;

:root {
  --postContainerWidth: postContainerWidth;
  --paddingHoriz: paddingHoriz;
  --paddingVertical: paddingVertical;
}
