@value bottomHeight: 24px;
@value bottomPadding: 6px;
@value markdownMarginLeft: 20%;
@value webviewNormalWidth: 400px;
@value webviewNormalHeight: 480px;
@value webviewMiniHeight: 300px;
@value webviewMarginTop: 15px;
@value emTextColor: #454545;
@value textColor: #696969;

:root {
  --bottomHeight: bottomHeight;
  --bottomPadding: bottomPadding;
  --markdownMarginLeft: markdownMarginLeft;
  --webviewNormalWidth: webviewNormalWidth;
  --webviewNormalHeight: webviewNormalHeight;
  --webviewMiniHeight: webviewMiniHeight;
  --webviewMarginTop: webviewMarginTop;
  --emTextColor: emTextColor;
  --textColor: textColor;
}

:export {
  dialogWidth: var(--webviewNormalWidth);
  dialogHeight: calc(var(--webviewNormalHeight) + var(--webviewMarginTop) + 10px);
  dialogMarginTop: calc(var(--webviewNormalHeight) * -1 / 2);
  dialogMarginLeft: calc(var(--webviewNormalWidth) * -1 / 2);
  dialogMiniMarginTop: calc(var(--webviewMiniHeight) * -1 / 2);
  dialogMiniHeight: var(--webviewMiniHeight);
}
