@import "../css/var.css";

:root {
  --anchorMargin: 12px;
}

.bottomSettingsContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: var(--postListWidth);
  height: var(--bottomHeight);
  padding: var(--bottomPadding) 0;
}

.bottomSettingsContainer a {
  margin-left: var(--anchorMargin);
  color: #333;
}

.bottomSettingsContainer a:last-child {
  margin-right: var(--anchorMargin);
}

.img {
  width: 16px;
  height: 16px;
  border-radius: 6px;
  vertical-align: middle;
}

.clickableless {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.disabled {
  opacity: 0.4;
}
