@import "../css/var.css";

.markdownContainer {
  position: fixed;
  top: 17px;
  right: 0;
  bottom: 0;
  left: var(--postContainerWidth);
  border-left: 1px solid #efefef;
  padding: var(--paddingVertical) var(--paddingHoriz);
}
