@import "../css/var.css";

.markdownContainer {
  position: fixed;
  top: 0;
  right: var(--markdownMarginRight);
  left: var(--markdownMarginLeft);
  bottom: 0;
  box-sizing: border-box;
  border-left: var(--splitLine);
}

/* 加大权重，不然被默认样式覆盖 */
.markdownContainer .aceEditor {
  color: var(--baseTextColor);
  background-color: var(--baseBgColor);
}
