@import "../css/var.css";

.postContainer {
  width: var(--postContainerWidth);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 40px;
  font-size: 14px;
  overflow-y: auto;
}

.postItem {
  padding: 10px 15px;
  border-bottom: 1px solid #dedede;
  list-style: none;
  display: block;
  cursor: pointer;
}

.postItem:hover {
  background-color: #efefef;
}

/*https://github.com/zenozeng/fonts.css*/
.postTitle {
  margin-bottom: 8px;
  color: #454545;
  font-family: -apple-system,
     "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN",
     "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei",
     "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.postPubDate {
  color: #9a9a9a;
  margin-right: 12px;
  font-size: 12px;
}

.postPlatform {
  margin-right: 8px;
  display: inline-block;
  font-size: 12px;
}

.noPost {
  text-align: center;
  color: #AAA;
  font-size: 12px;
  padding: 20px;
}
