@import "../css/var.css";

.normal {
  width: var(--webviewNormalWidth);
  height: var(--webviewNormalHeight);
  margin: 0 auto;
  margin-top: var(--webviewMarginTop);
}

.hide {
  width: 0px;
  height: 0px;
}
