.contentContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  padding: 20px 40px;
}

.normal {
  width:300px;
  height:580px;
  margin: 0 auto;
}

.hide {
  width: 0px;
  height: 0px;
}
